# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Ignore local configurations
.conf

# Workspace files produced by JetBrains
*.idea

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


/deployments/tank_data/*
/.vscode/*
